@media (min-width: 1024px) and (max-width: 1920px) {
  .cabecalho {
    max-width: 100%;
    max-height: 70%;
    background-color: rgb(34, 34, 44);
    color: #fff;
    padding: 10px 3px;
    margin: 0px 10px;
  }

  img.logo {
    max-width: 100%;
    width: 30px;
    height: 30px;
  }
}

body {
  color: #fff;
  background-color: #1e1f35;
  font-family: sans-serif;
}

a.nav-link {
  color: #fff;
}

/* Inicia a estilização do "eu sou victor" */

img {
  width: 500px;
  height: 300px;
  margin: 30px;
  display: inline-block;
  margin: 0 0 20px 0;
  max-width: 800px;
}

h1#skills {
  text-align: center;
  margin-left: -10px;
  justify-content: center;
}

.victor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h2#victor {
  padding: 10px 20px;
  color: coral;
  font-size: 2em;
  margin-bottom: 20px;
  flex-wrap: wrap;
  word-break: normal;
  display: block;
}

P.description {
  display: block;
  font-size: 1.2em;
  line-height: 1.5;
}

/* inicia a estilização  do "minhas habilidades"*/

span.border.border-secondary {
  padding: 20px;
  border: #c8ebe9;
  width: 300px;
  height: -10px;
  display: inline-flex;
  margin: 10px 10px;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
  min-width: 120px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}

.grid.text-center {
  padding: 5px;
  margin: 0px 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* empresas que confiam */

h1.empresas {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
}

.empresas_confiam {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
.container-card {
  margin: 1vh 1vw 1vh 1vw;
  max-width: 40vw;
  padding: 2vw;
  border: solid 0.5px;
  justify-content: start;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 80px;
}

.card {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.date {
  padding: 1vw;

  justify-content: end;
  width: 100%;
  text-align: end;
}

/* Meus projetos */

img#projeto {
  max-width: 100%;
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 14px;
  margin-left: 100px;
}

.projetos {
  display: inline-block;
  text-align: center;
  justify-content: center;
}

img#mobile {
  max-width: 100%;
  margin-top: 10%;
  margin-right: 100px;
  width: 400px;
  height: 600px;
  margin: 99px 90px 90px 90px;
  padding: -30px;
}

img#whatsapp {
  max-width: 100%;
  width: 60px;
  height: 60px;
  margin-top: 40%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2090px;
  left: 950px;
}

img#github {
  max-width: 100%;
  width: 60px;
  height: 60px;
  margin-top: 40%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2090px;
  left: 1050px;
}

img#linkedn {
  max-width: 100%;
  width: 60px;
  height: 60px;
  width: 60px;
  height: 60px;
  margin-top: 40%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2190px;
  left: 980px;
}

img#card1 {
  top: 3000px;
  width: 300px;
  height: 50px;
  margin: 60px 60px;
  position: absolute;
  left: 150px;
}

img#card2 {
  top: 2800px;
  width: 300px;
  height: 50px;
  margin: 60px 60px;
  position: absolute;
  left: 150px;
  background-color: url();
}

img#card3 {
  top: 2900px;
  width: 300px;
  height: 50px;
  margin: 60px 60px;
  position: absolute;
  left: 150px;
}

h1#emcontato {
  margin: 20px 10px 10px 30px;
}

#contato.Contato {
  text-align: center;
  justify-content: center;
  margin: 90px;
}

.container-card {
  margin: 1vh 1vw 1vh 1vw;
  max-width: 40vw;
  padding: 2vw;
  border: solid 0.5px;
  justify-content: start;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 80px;
}

.card {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.contact-info {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  position: absolute;
  top: 2550px;
  left: 21%;
  border-radius: 20px;
  width: 350px;
  flex: flex;
}

.contact-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.contact-item i {
  font-size: 1.5em;
  margin-right: 15px;
}
.contact-item a {
  color: white;
  text-decoration: none;
}
.contact-item a:hover {
  text-decoration: none;
}

/* design para celulares definido */

@media (min-width: 450px) and (max-width: 1023px) {
  .cabecalho {
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 44);
    color: #fff;
    padding: 10px 3px;
    margin: 0px 10px;
  }

  img.logo {
    max-width: 100%;
    width: 30px;
    height: 30px;
  }

  .contact-info {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
    position: absolute;
    top: 3550px;
    left: 31%;
    border-radius: 20px;
    width: 350px;
  }
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  .contact-item i {
    font-size: 1.5em;
    margin-right: 15px;
  }
  .contact-item a {
    color: white;
    text-decoration: none;
  }
  .contact-item a:hover {
    text-decoration: none;
  }

  .projetos {
    flex-direction: column;
  }

  img#projetos {
    display: inline-block;
  }
}

/*  
.victor {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}
*/
